h1, h2, h3, h4 {
color: yellow;
}


#titulos {
color: blue;
background-color: brown;
margin: 40px, 60px, 50px, 40px;
padding: 50px, 50px, 40px, 70px;
border: 10px dotted
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ffe0b2;
}